.jumbotron {
    padding-top: 6rem;
    background-color: rgb(247, 165, 165);
}


#Achievment {
    background-color: #f7a5a5;
}

section{
    padding-top: 5rem;
}

svg {
  display: block;
}

.jumbotron svg,
#about svg,
#Achievment svg,
#contact svg {
  margin-bottom: -2px;
}